<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <header>
      <mat-toolbar class="afacad">Menu</mat-toolbar>
    </header>

    <nav>
      <ul>
        <li>
          <a class="afacad-menu" mat-list-item [routerLink]="['']">Inicial</a>
        </li>
        <li>
          <a class="afacad-menu" mat-list-item [routerLink]="['artigo']"
            >Visualização do Aluno</a
          >
        </li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <mat-toolbar>
        <button
          class="menu-button"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span class="lalezar-regular">BOOK.COM</span>
      </mat-toolbar>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
