.sidenav-container {
  color: #603D9C;
  height: 100%;
  background-color: #efe7fe;
}

.sidenav {
  width: 200px;
  background-color: white;
}


.mat-toolbar {
  background-color: #603D9C;
  color: white;
}


.lalezar-regular {
  font-family: "Lalezar", system-ui;
  font-style: normal;
  text-align: center;
  height: 42%;
  font-size: xx-large;
}

.afacad {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.afacad-menu {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}