<div class="component-container">
  <div class="header">
    <h2>Gerenciar Artigos</h2>
    <button mat-button mat-list-item (click)="navigateToAdd()">
      <mat-icon class="buttonAdd">add</mat-icon>
      <span class="buttonAdd">ADICIONAR</span>
    </button>
  </div>

  <mat-form-field [appearance]="'outline'">
    <mat-label class="text">Filtro</mat-label>
    <mat-icon matPrefix class="button">filter_list</mat-icon>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Titulo/Autor/Palavras-Chave"
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z7">
    <!-- titulo -->
    <ng-container matColumnDef="titulo_artigo">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td
        [ngClass]="validateRepproved(element.status) ? 'disabled' : ''"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.titulo_artigo }}
      </td>
    </ng-container>

    <!-- nome autor -->
    <ng-container matColumnDef="nome_autor">
      <th mat-header-cell *matHeaderCellDef>Autor(es)</th>
      <td
        [ngClass]="validateRepproved(element.status) ? 'disabled' : ''"
        mat-cell
        *matCellDef="let element"
      >
        {{ element.nome_autor }}
      </td>
    </ng-container>

    <!-- data -->
    <ng-container matColumnDef="data_publicacao">
      <th mat-header-cell *matHeaderCellDef>Data de publicação</th>
      <td
        class="dateColumn"
        [ngClass]="validateRepproved(element.status) ? 'disabled' : ''"
        *matCellDef="let element"
      >
        {{ element.data_publicacao | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Situação</th>
      <td
        class="Status"
        [ngClass]="validateRepproved(element.status) ? 'disabled' : ''"
        *matCellDef="let element"
      >
        {{ element.status }}
      </td>
    </ng-container>

    <!-- acoes -->
    <ng-container matColumnDef="açoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td
        [ngClass]="validateRepproved(element.status) ? 'disabled' : ''"
        mat-cell
        *matCellDef="let element"
      >
        <button
          mat-icon-button
          (click)="navigateToView(element.id)"
          *ngIf="validateApprovedOrAnalysis(element.status)"
        >
          <mat-icon class="button">visibility</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="navigateToEdit(element.id)"
          *ngIf="validateApprovedOrAnalysis(element.status)"
        >
          <mat-icon class="button">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deactivate(element)"
          *ngIf="validateApprovedOrAnalysis(element.status)"
        >
          <mat-icon class="button">block</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="activate(element)"
          *ngIf="validateRepproved(element.status)"
        >
          <mat-icon class="button">check_box</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
