.disabled {
    background-color: #e5e5e5;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

th{
    text-align: left;
}

.header{
    display: flex;
    justify-content: space-between;
}

.mat-elevation-z8 {
    font-family: "Afacad", serif;
    font-optical-sizing: auto;
    font-style: normal;
}