<div class="component-container">
  <div class="header">
    <h2>Instituições</h2>
    <button mat-button mat-list-item (click)="navigateToAdd()">
      <mat-icon class="green">add</mat-icon> <span class="green">ADICIONAR</span>
    </button>
  </div>

  <table mat-table [dataSource]="instituicoes" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td [ngClass]="!element.status ? 'disabled' : ''" mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="sigla">
      <th mat-header-cell *matHeaderCellDef> Sigla </th>
      <td [ngClass]="!element.status ? 'disabled' : ''" mat-cell *matCellDef="let element"> {{element.sigla}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pais">
      <th mat-header-cell *matHeaderCellDef> País </th>
      <td [ngClass]="!element.status ? 'disabled' : ''" *matCellDef="let element"> {{element.pais}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="açoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td [ngClass]="!element.status ? 'disabled' : ''" mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="navigateToView(element.id)" *ngIf="element.status">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="navigateToEdit(element.id)" *ngIf="element.status">
          <mat-icon class="blue">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deactivate(element)" *ngIf="element.status">
          <mat-icon class="red">block</mat-icon>
        </button>
        <button mat-icon-button (click)="activate(element)" *ngIf="!element.status">
          <mat-icon class="green">check_box</mat-icon>
        </button>


      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>