<div class="container">
    <div class="stepper">
        <mat-stepper #stepper>
            <mat-step [stepControl]="instForm1" errorMessage="Name is required.">
                <form [formGroup]="instForm1">
                    <ng-template matStepLabel>Dados da Instituição</ng-template>
                    <mat-form-field class="mt-5">
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Nome" formControlName="nome" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Sigla</mat-label>
                        <input matInput placeholder="Sigla" formControlName="sigla" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>CNPJ</mat-label>
                        <input matInput placeholder="CNPJ" formControlName="cnpj" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Próximo</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="instForm2" errorMessage="Address is required.">
                <form [formGroup]="instForm2">
                    <ng-template matStepLabel>Endereço</ng-template>
                    <mat-form-field class="mt-5">
                        <mat-label>CEP</mat-label>
                        <input matInput placeholder="CEP" formControlName="cep" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <input matInput placeholder="Estado" formControlName="uf" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Logradouro</mat-label>
                        <input matInput placeholder="Logradouro" formControlName="logradouro" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Número" formControlName="numero" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>País</mat-label>
                        <mat-select formControlName="pais">
                            <mat-option *ngFor="let pais of paises"
                                value="{{pais.name.common}}">{{pais.name.common}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Municipio</mat-label>
                        <input matInput placeholder="Municipio" formControlName="localidade" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Bairro</mat-label>
                        <input matInput placeholder="Bairro" formControlName="bairro" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Complemento</mat-label>
                        <input matInput placeholder="Complemento" formControlName="complemento">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Anterior</button>
                        <button mat-button (click)="submit()">Finalizar</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
</div>