<div class="container">
  <div class="stepper">
    <mat-stepper #stepper>
      <mat-step [stepControl]="form1" errorMessage="Name is required.">
        <form [formGroup]="form1">
          <ng-template matStepLabel>Dados do Artigo</ng-template>
          <mat-form-field class="mt-5">
            <mat-label>Título do Artigo</mat-label>
            <input
              matInput
              placeholder="Título"
              formControlName="titulo_artigo"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Data de publicação</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="data_publicacao"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              panelClass="datepicker-custom"
            ></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nome do Autor</mat-label>
            <input
              matInput
              placeholder="Adonias da Silva Sauro"
              formControlName="nome_autor"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Curso</mat-label>
            <input
              matInput
              placeholder="Odeio eng compers"
              formControlName="curso_autor"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Orientador do Artigo</mat-label>
            <input
              matInput
              placeholder="Joseph Climber"
              formControlName="orientador"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Numero de paginas</mat-label>
            <input matInput placeholder="2" formControlName="numero_pg" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Idioma</mat-label>
            <input
              matInput
              placeholder="Mineireis uai"
              formControlName="idioma"
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="form2" errorMessage="Resumo is required.">
        <form [formGroup]="form2">
          <ng-template matStepLabel>Resumo do artigo</ng-template>
          <mat-form-field class="mt-2">
            <mat-label>Resumo do Artigo</mat-label>
            <input
              matInput
              placeholder=""
              formControlName="resumo_artigo"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button (click)="submit()">Finalizar</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
