mat-form-field{
  width: 100%;
}
.container{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 90%;
}
.stepper{
  width: 50%;
}

.mt-5{
  margin-top: 20px;
}

.mt-2{
  height: 500px;
}